/* ShowUsers.css */

.table-container {
    width: 80%; /* רוחב של 80% */
    margin: 0 auto; /* מיקום באמצע */
    overflow-x: auto;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-table th,
  .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .user-table th {
    background-color: #f2f2f2;
  }
  
  .user-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .user-table tr:hover {
    background-color: #ddd;
  }
  